<page-header [title]="'学生账户管理'"></page-header>
<nz-card [nzBordered]="false">
  <form nz-form [nzLayout]="'inline'" (ngSubmit)="startQueryData()" class="search__form">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <!-- <div nz-col nzMd="6" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="no">学生编号</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="q.no" name="no" placeholder="请输入" id="no" />
          </nz-form-control>
        </nz-form-item>
      </div> -->
      <div nz-col nzMd="6" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="no">学生姓名</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="queryParam.studentId" name="studentId" class="enroll-selector" nzShowSearch
              nzServerSearch [nzShowArrow]="false" [nzFilterOption]="nzFilterOption"
              [nzDropdownMatchSelectWidth]="false" (nzOnSearch)="searchStudent($event)">
              <nz-option *ngFor="let o of studentsOfOption" nzCustomContent [nzLabel]="o.name" [nzValue]="o.id">
                <!-- <div style="width: 200px; float: left;">{{o.code}}</div> -->
                <div style="float: left">{{o.code}}</div>
                <div style="float: right"> {{o.name}} </div>
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="expandForm ? 24 : 6" [class.text-right]="expandForm">
        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">查询</button>
        <button nz-button type="reset" (click)="reset()" class="mx-sm">重置</button>
        <!-- <a (click)="expandForm = !expandForm">
          {{ expandForm ? '收起' : '展开' }}
          <i nz-icon [nzType]="expandForm ? 'up' : 'down'"></i>
        </a> -->
      </div>
    </div>
  </form>

  <st #st [columns]="columns" [data]="data.list" [total]="data.total" [ps]="queryParam.pageSize"
    [pi]="queryParam.pageNo" [page]="pager" [loading]="loading" (change)="stChange($event)">
  </st>
</nz-card>
<ng-template #editTpl>
  <nz-form-item style="margin-bottom: 5px;">
    <span>学生编号: {{editRow.studentCode}}</span>
  </nz-form-item>
  <nz-form-item style="margin-bottom: 5px;">
    <span>学生编号: {{editRow.studentName}}</span>
  </nz-form-item>
  <nz-form-item style="margin-bottom: 0px;">
    <nz-form-control>
      <span style="color: red;">*</span><span>账户余额: </span>
      <nz-input-number [(ngModel)]="editRow.amount" name="amount" placeholder="请输入" id="amount"></nz-input-number>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item style="margin-bottom: 0px;">
    <nz-form-control>
      <span style="color: red;">*</span><span>备注: </span>
      <input nz-input [(ngModel)]="editRow.remark" name="remark" placeholder="请输入备注" id="remark" />
    </nz-form-control>
  </nz-form-item>
  <span style="color: red;">{{errorMsg}}</span>
</ng-template>