<page-header [title]="'课程管理'"></page-header>
<nz-card [nzBordered]="false">
  <form nz-form [nzLayout]="'inline'" (ngSubmit)="getData()" class="search__form">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="no">课程编号</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="q.no" name="no" placeholder="请输入" id="no" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <div>
          <nz-form-item>
            <nz-form-label nzFor="startDate">开课日期</nz-form-label>
            <nz-form-control [formGroup]="courseDate">
              <nz-range-picker formControlName="courseDate"></nz-range-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="status">课程状态</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="q.status" name="status" id="status" [nzPlaceHolder]="'请选择'" [nzShowSearch]="true">
              <nz-option *ngFor="let i of courseStatusList; let idx = index" [nzLabel]="i.text" [nzValue]="i.value">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="24" nzSm="24"></div>
      <div nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="campus">校区</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="q.campus" name="campus" id="sss" [nzPlaceHolder]="'请选择'" [nzShowSearch]="true">
              <nz-option *ngFor="let i of campusList; let idx = index" [nzLabel]="i.label" [nzValue]="i.value">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

      </div>
      <div nz-col [nzSpan]="24" class="text-right">
        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">查询</button>
        <button nz-button type="reset" (click)="reset()" class="mx-sm">重置</button>
        <a (click)="expandForm = !expandForm">
          {{ expandForm ? '收起' : '展开' }}
          <i nz-icon [nzType]="expandForm ? 'up' : 'down'"></i>
        </a>
      </div>
    </div>
  </form>
  <button nz-button (click)="addNewCourse()" [nzType]="'primary'">
    <i nz-icon nzType="plus"></i>
    <span>添加课程</span>
  </button>
  <st #st [columns]="columns" [data]="data" [loading]="loading" (change)="stChange($event)">
    <ng-template st-row="courseStatus" let-i>
      <nz-badge [nzStatus]="i.statusDetail.icon" [nzText]="i.statusDetail.label"></nz-badge>
    </ng-template>
    <ng-template st-row="courseCampus" let-i>
      {{globalService.getCampusLabel(i.campus)}}
    </ng-template>
  </st>
</nz-card>