<page-header [title]="'课程管理'"></page-header>
<nz-card [nzBordered]="false">
  <form nz-form [nzLayout]="'inline'" (ngSubmit)="startQueryData()" class="search__form">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="courseSubject">课程科目</nz-form-label>
          <nz-form-control nzErrorTip="请输入课程科目">
            <nz-select [(ngModel)]="queryParam.courseSubject" name="courseSubject" [nzPlaceHolder]="'请选择课程科目'"
              [nzShowSearch]="true">
              <nz-option *ngFor="let i of courseSubjectList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="courseType">课程类型</nz-form-label>
          <nz-form-control nzErrorTip="请输入课程类型">
            <nz-select [(ngModel)]="queryParam.courseType" name="courseType" [nzPlaceHolder]="'请选择课程类型'"
              [nzShowSearch]="true">
              <nz-option *ngFor="let i of courseTypeList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label>针对年级</nz-form-label>
          <nz-form-control nzErrorTip="请选择年级">
            <nz-select [(ngModel)]="queryParam.grade" name="grade" [nzPlaceHolder]="'请选择年级'" [nzShowSearch]="true">
              <nz-option *ngFor="let i of gradeList" [nzLabel]="i.label" [nzValue]="i.value"> </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
        <div>
          <nz-form-item>
            <nz-form-label nzFor="startDate">开课日期</nz-form-label>
            <nz-form-control>
              <nz-range-picker [ngModel]="searchDate" name="searchDate" (ngModelChange)="onDateRangeChanged($event)">
              </nz-range-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="campus">校区</nz-form-label>
          <nz-form-control nzErrorTip="请选择校区">
            <nz-select [(ngModel)]="queryParam.campus" name="campus" [nzPlaceHolder]="'请选择校区'"
              [nzShowSearch]="true">
              <nz-option *ngFor="let i of campusList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24" class="text-right">
        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">查询</button>
        <button nz-button type="reset" (click)="reset()" class="mx-sm">重置</button>
        <a (click)="expandForm = !expandForm">
          {{ expandForm ? '收起' : '展开' }}
          <i nz-icon [nzType]="expandForm ? 'up' : 'down'"></i>
        </a>
      </div>
    </div>
  </form>
  <button nz-button (click)="addNewCourse()" [nzType]="'primary'">
    <i nz-icon nzType="plus"></i>
    <span>添加课程</span>
  </button>
  <st #st [columns]="columns" [data]="data.list" [total]="data.total" [ps]="queryParam.pageSize"
    [pi]="queryParam.pageNo" [page]="pager" [loading]="loading" (change)="stChange($event)">
    <ng-template st-row="courseStatus" let-i>
      <nz-badge [nzStatus]="i.statusDetail.icon" [nzText]="i.statusDetail.label"></nz-badge>
    </ng-template>
    <ng-template st-row="courseCampus" let-i>
      {{appCtx.globalService.getCampusLabel(i.campus)}}
    </ng-template>
    <ng-template st-row="courseSubject" let-i>
      {{appCtx.globalService.getCourseSubjectLabel(i.courseSubject)}}
    </ng-template>
    <ng-template st-row="courseType" let-i>
      {{appCtx.globalService.getCourseTypeLabel(i.courseType)}}
    </ng-template>
  </st>
</nz-card>