<page-header [title]="'订单管理'"></page-header>
<nz-card [nzBordered]="false">
  <form nz-form [nzLayout]="'inline'" (ngSubmit)="getData()" class="search__form">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="orderCode">订单编号</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="queryParam.orderCode" name="orderCode" placeholder="请输入" id="orderCode" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="studentId">学生</nz-form-label>
          <nz-select [(ngModel)]="queryParam.studentId" name="studentId" class="enroll-selector" nzShowSearch nzServerSearch
            [nzShowArrow]="false" [nzFilterOption]="nzFilterOption" [nzDropdownMatchSelectWidth]="false"
            (nzOnSearch)="searchStudent($event)">
            <nz-option *ngFor="let o of studentsOfOption" nzCustomContent [nzLabel]="o.name" [nzValue]="o.id">
              <!-- <div style="width: 200px; float: left;">{{o.code}}</div> -->
              <div style="float: left">{{o.code}}</div>
              <div style="float: right"> {{o.name}} </div>
            </nz-option>
          </nz-select>
          <!-- <nz-form-control>
            <input nz-input [(ngModel)]="queryParam.studentId" name="studentId" placeholder="请输入" id="studentId" />
          </nz-form-control> -->
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="signInDate">报名日期</nz-form-label>
<!--          <nz-form-control [formGroup]="signInDate">-->
<!--            <nz-range-picker formControlName="signInDate"></nz-range-picker>-->
          <nz-form-control>
            <nz-range-picker [ngModel]="searchDate" name="searchDate" (ngModelChange)="onDateRangeChanged($event)">
            </nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="24" nzSm="24"></div>
      <div nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="courseSubject">课程科目</nz-form-label>
          <nz-form-control nzErrorTip="请输入课程科目">
            <nz-select [(ngModel)]="queryParam.courseSubject" name="courseSubject" [nzPlaceHolder]="'请选择课程科目'"
              [nzShowSearch]="true">
              <nz-option *ngFor="let i of courseSubjectList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="courseType">课程类型</nz-form-label>
          <nz-form-control nzErrorTip="请输入课程类型">
            <nz-select [(ngModel)]="queryParam.courseType" name="courseType" [nzPlaceHolder]="'请选择课程类型'"
              [nzShowSearch]="true">
              <nz-option *ngFor="let i of courseTypeList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label>年级</nz-form-label>
          <nz-form-control nzErrorTip="年级">
            <nz-select [(ngModel)]="queryParam.grade" name="grade" [nzPlaceHolder]="'请选择年级'" [nzShowSearch]="true">
              <nz-option *ngFor="let i of gradeList" [nzLabel]="i.label" [nzValue]="i.value"> </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <!--      <div nz-col nzMd="8" nzSm="24">-->
      <!--        <nz-form-item>-->
      <!--          <nz-form-label nzFor="status">订单状态</nz-form-label>-->
      <!--          <nz-form-control>-->
      <!--            <nz-select [(ngModel)]="q.status" name="status" id="status" [nzPlaceHolder]="'请选择'" [nzShowSearch]="true">-->
      <!--              <nz-option *ngFor="let i of orderStatusList; let idx = index" [nzLabel]="i.text" [nzValue]="i.value">-->
      <!--              </nz-option>-->
      <!--            </nz-select>-->
      <!--          </nz-form-control>-->
      <!--        </nz-form-item>-->
      <!--      </div>-->
      <!--      <div nz-col nzMd="24" nzSm="24"></div>-->
      <!--      <div nz-col nzMd="8" nzSm="24" *ngIf="expandForm">-->

      <!--      <div nz-col nzMd="8" nzSm="24" *ngIf="expandForm">-->
      <!--        <nz-form-item>-->
      <!--          <nz-form-label nzFor="courseCode">课程编号</nz-form-label>-->
      <!--          <nz-form-control>-->
      <!--            <input nz-input [(ngModel)]="q.courseCode" name="courseCode" placeholder="请输入" id="courseCode" />-->
      <!--          </nz-form-control>-->
      <!--        </nz-form-item>-->
      <!--      </div>-->
      <div nz-col [nzSpan]="24" class="text-right">
        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">查询</button>
        <button nz-button type="reset" (click)="reset()" class="mx-sm">重置</button>
        <a (click)="expandForm = !expandForm">
          {{ expandForm ? '收起' : '展开' }}
          <i nz-icon [nzType]="expandForm ? 'up' : 'down'"></i>
        </a>
      </div>
    </div>
  </form>
  <!--  <button nz-button (click)="add(modalContent)" [nzType]="'primary'">-->
  <!--    <i nz-icon nzType="plus"></i>-->
  <!--    <span>新建</span>-->
  <!--  </button>-->
  <!-- <ng-container *ngIf="selectedRows.length > 0">
    <button nz-button>批量操作</button>
    <button nz-button nz-dropdown [nzDropdownMenu]="batchMenu" nzPlacement="bottomLeft">
      更多操作
      <i nz-icon nzType="down"></i>
    </button>
    <nz-dropdown-menu #batchMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item (click)="remove()">删除</li>
        <li nz-menu-item (click)="approval()">批量审批</li>
      </ul>
    </nz-dropdown-menu>
  </ng-container>
  <div class="my-md">
    <nz-alert [nzType]="'info'" [nzShowIcon]="true" [nzMessage]="message">
      <ng-template #message>
        已选择
        <strong class="text-primary">{{ selectedRows.length }}</strong> 项
        <a *ngIf="totalCallNo > 0" (click)="st.clearCheck()" class="ml-lg">清空</a>
      </ng-template>
    </nz-alert>
  </div> -->
  <div style="margin-top: 15px;">
    <st #st [columns]="columns" [data]="data.list" [total]="data.total" [ps]="queryParam.pageSize"
      [pi]="queryParam.pageNo" [page]="pager" [loading]="loading" (change)="stChange($event)">
      <ng-template st-row="registrationStatus" let-i>
        <!-- <nz-badge [nzStatus]="i.registrationStatusDetail.type" [nzText]="i.registrationStatusDetail.label"></nz-badge> -->
        <span>{{appCtx.globalService.getOrderStatusLabel(i.registrationStatus)}}</span>
      </ng-template>
      <!--    <ng-template st-row="studentName" let-i>-->
      <!--      <span>{{i.student.name}}</span>-->
      <!--    </ng-template>-->
      <!--    <ng-template st-row="courseName" let-i>-->
      <!--      <span>{{i.course.name}}</span>-->
      <!--    </ng-template>-->
    </st>
  </div>
</nz-card>
<ng-template #modalContent>
  <nz-form-item>
    <nz-form-label nzFor="no">描述</nz-form-label>
    <nz-form-control>
      <input nz-input [(ngModel)]="description" name="description" placeholder="请输入" id="no" />
    </nz-form-control>
  </nz-form-item>
</ng-template>
