<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nmt.education.service.course.CoursePoMapper">
    <resultMap id="BaseResultMap" type="com.nmt.education.pojo.po.CoursePo">
        <!--@mbg.generated-->
        <!--@Table course-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="teacher_id" jdbcType="BIGINT" property="teacherId"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="year" jdbcType="INTEGER" property="year"/>
        <result column="season" jdbcType="TINYINT" property="season"/>
        <result column="campus" jdbcType="INTEGER" property="campus"/>
        <result column="course_type" jdbcType="TINYINT" property="courseType"/>
        <result column="course_subject" jdbcType="TINYINT" property="courseSubject"/>
        <result column="course_classification" jdbcType="TINYINT" property="courseClassification"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="grade" jdbcType="TINYINT" property="grade"/>
        <result column="course_status" jdbcType="TINYINT" property="courseStatus"/>
        <result column="classroom" jdbcType="BIGINT" property="classroom"/>
        <result column="total_student" jdbcType="INTEGER" property="totalStudent"/>
        <result column="per_time" jdbcType="INTEGER" property="perTime"/>
        <result column="times" jdbcType="TINYINT" property="times"/>
        <result column="start_date" jdbcType="DATE" property="startDate"/>
        <result column="end_date" jdbcType="DATE" property="endDate"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="creator" jdbcType="INTEGER" property="creator"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="operator" jdbcType="INTEGER" property="operator"/>
        <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime"/>
        <result column="course_regular" jdbcType="VARCHAR" property="courseRegular"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, teacher_id, code, `year`, season, campus, course_type, course_subject, course_classification,course_regular,
        `name`, grade, course_status, classroom, total_student, per_time, times, start_date,
        end_date, description, remark, `status`, creator, create_time, `operator`, operate_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from course
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="queryFuzzy" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from course
        where status = 1
        and name like concat('%',#{name},'%')
        or code like concat('%',#{name},'%')

    </select>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.nmt.education.pojo.po.CoursePo" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="teacherId != null">
                teacher_id,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="year != null">
                `year`,
            </if>
            <if test="season != null">
                season,
            </if>
            <if test="campus != null">
                campus,
            </if>
            <if test="courseType != null">
                course_type,
            </if>
            <if test="courseSubject != null">
                course_subject,
            </if>
            <if test="courseClassification != null">
                course_classification,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="grade != null">
                grade,
            </if>
            <if test="courseStatus != null">
                course_status,
            </if>
            <if test="classroom != null">
                classroom,
            </if>
            <if test="totalStudent != null">
                total_student,
            </if>
            <if test="perTime != null">
                per_time,
            </if>
            <if test="times != null">
                times,
            </if>
            <if test="startDate != null">
                start_date,
            </if>
            <if test="endDate != null">
                end_date,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="operator != null">
                `operator`,
            </if>
            <if test="operateTime != null">
                operate_time,
            </if>
            <if test="courseRegular != null">
                course_regular,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="teacherId != null">
                #{teacherId,jdbcType=BIGINT},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="year != null">
                #{year,jdbcType=INTEGER},
            </if>
            <if test="season != null">
                #{season,jdbcType=TINYINT},
            </if>
            <if test="campus != null">
                #{campus,jdbcType=TINYINT},
            </if>
            <if test="courseType != null">
                #{courseType,jdbcType=TINYINT},
            </if>
            <if test="courseSubject != null">
                #{courseSubject,jdbcType=TINYINT},
            </if>
            <if test="courseClassification != null">
                #{courseClassification,jdbcType=TINYINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="grade != null">
                #{grade,jdbcType=TINYINT},
            </if>
            <if test="courseStatus != null">
                #{courseStatus,jdbcType=TINYINT},
            </if>
            <if test="classroom != null">
                #{classroom,jdbcType=BIGINT},
            </if>
            <if test="totalStudent != null">
                #{totalStudent,jdbcType=INTEGER},
            </if>
            <if test="perTime != null">
                #{perTime,jdbcType=INTEGER},
            </if>
            <if test="times != null">
                #{times,jdbcType=TINYINT},
            </if>
            <if test="startDate != null">
                #{startDate,jdbcType=DATE},
            </if>
            <if test="endDate != null">
                #{endDate,jdbcType=DATE},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=BOOLEAN},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="operator != null">
                #{operator,jdbcType=INTEGER},
            </if>
            <if test="operateTime != null">
                #{operateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="courseRegular != null">
                #{courseRegular},
            </if>
        </trim>
    </insert>
    <update id="invalidByPrimaryKey">
    update course set status = 0 ,
    `operator` = #{operator},
    operate_time = now()
    where id =#{id}
  </update>
    <select id="queryByDto" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from course
        where status =1
        <if test="dto.courseSubject != null">
            and course_subject = #{dto.courseSubject}
        </if>
        <if test="dto.courseType != null">
            and course_type = #{dto.courseType}
        </if>
        <if test="dto.grade != null">
            and grade = #{dto.grade}
        </if>
        <if test="dto.startDate != null">
            <![CDATA[
            and   start_date != "1970-01-02 00:00:00"
            and start_date >= #{dto.startDate}
        ]]></if>
        <if test="dto.endDate != null">
            <![CDATA[
            and   start_date != "1970-01-02 00:00:00"
            and start_date <= #{dto.endDate}  ]]>
        </if>
        <if test="dto.teacherId != null">
            and teacher_id = #{dto.teacherId}
        </if>
        and campus in
        <foreach collection="campusList" item="campus" separator=";" open="(" close=")">
            #{campus}
        </foreach>
    </select>
    <update id="updateByPrimaryKeySelective" parameterType="com.nmt.education.pojo.po.CoursePo">
        <!--@mbg.generated-->
        update course
        <set>
            <if test="teacherId != null">
                teacher_id = #{teacherId,jdbcType=BIGINT},
            </if>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="year != null">
                `year` = #{year,jdbcType=INTEGER},
            </if>
            <if test="season != null">
                season = #{season,jdbcType=TINYINT},
            </if>
            <if test="campus != null">
                campus = #{campus,jdbcType=TINYINT},
            </if>
            <if test="courseType != null">
                course_type = #{courseType,jdbcType=TINYINT},
            </if>
            <if test="courseSubject != null">
                course_subject = #{courseSubject,jdbcType=TINYINT},
            </if>
            <if test="courseClassification != null">
                course_classification = #{courseClassification,jdbcType=TINYINT},
            </if>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="grade != null">
                grade = #{grade,jdbcType=TINYINT},
            </if>
            <if test="courseStatus != null">
                course_status = #{courseStatus,jdbcType=TINYINT},
            </if>
            <if test="classroom != null">
                classroom = #{classroom,jdbcType=BIGINT},
            </if>
            <if test="totalStudent != null">
                total_student = #{totalStudent,jdbcType=INTEGER},
            </if>
            <if test="perTime != null">
                per_time = #{perTime,jdbcType=INTEGER},
            </if>
            <if test="times != null">
                times = #{times,jdbcType=TINYINT},
            </if>
            <if test="startDate != null">
                start_date = #{startDate,jdbcType=DATE},
            </if>
            <if test="endDate != null">
                end_date = #{endDate,jdbcType=DATE},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=BOOLEAN},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="operator != null">
                `operator` = #{operator,jdbcType=INTEGER},
            </if>
            <if test="operateTime != null">
                operate_time = #{operateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="courseRegular != null">
                course_regular = #{courseRegular},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>