<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nmt.education.service.course.registeration.RegistrationExpenseDetailFlowMapper">
  <resultMap id="BaseResultMap" type="com.nmt.education.pojo.po.RegistrationExpenseDetailFlowPo">
    <!--@mbg.generated-->
    <!--@Table registration_expense_detail_flow-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="registration_id" jdbcType="BIGINT" property="registrationId" />
    <result column="register_expense_detail_id" jdbcType="BIGINT" property="registerExpenseDetailId" />
    <result column="fee_type" jdbcType="INTEGER" property="feeType" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="per_amount" jdbcType="VARCHAR" property="perAmount" />
    <result column="amount" jdbcType="VARCHAR" property="amount" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="payment" jdbcType="INTEGER" property="payment" />
    <result column="discount" jdbcType="VARCHAR" property="discount" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="operator" jdbcType="INTEGER" property="operator" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, registration_id, register_expense_detail_id, fee_type, `type`, per_amount, amount, 
    `count`, payment, discount, `status`, remark, creator, create_time, `operator`, operate_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from registration_expense_detail_flow
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.nmt.education.pojo.po.RegistrationExpenseDetailFlowPo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into registration_expense_detail_flow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="registrationId != null">
        registration_id,
      </if>
      <if test="registerExpenseDetailId != null">
        register_expense_detail_id,
      </if>
      <if test="feeType != null">
        fee_type,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="perAmount != null">
        per_amount,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="count != null">
        `count`,
      </if>
      <if test="payment != null">
        payment,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="operator != null">
        `operator`,
      </if>
      <if test="operateTime != null">
        operate_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="registrationId != null">
        #{registrationId,jdbcType=BIGINT},
      </if>
      <if test="registerExpenseDetailId != null">
        #{registerExpenseDetailId,jdbcType=BIGINT},
      </if>
      <if test="feeType != null">
        #{feeType,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="perAmount != null">
        #{perAmount,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="payment != null">
        #{payment,jdbcType=INTEGER},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=INTEGER},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nmt.education.pojo.po.RegistrationExpenseDetailFlowPo">
    <!--@mbg.generated-->
    update registration_expense_detail_flow
    <set>
      <if test="registrationId != null">
        registration_id = #{registrationId,jdbcType=BIGINT},
      </if>
      <if test="registerExpenseDetailId != null">
        register_expense_detail_id = #{registerExpenseDetailId,jdbcType=BIGINT},
      </if>
      <if test="feeType != null">
        fee_type = #{feeType,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="perAmount != null">
        per_amount = #{perAmount,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        `count` = #{count,jdbcType=INTEGER},
      </if>
      <if test="payment != null">
        payment = #{payment,jdbcType=INTEGER},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=BOOLEAN},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null">
        `operator` = #{operator,jdbcType=INTEGER},
      </if>
      <if test="operateTime != null">
        operate_time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update registration_expense_detail_flow
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="registration_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.registrationId != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.registrationId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="register_expense_detail_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.registerExpenseDetailId != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.registerExpenseDetailId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="fee_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.feeType != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.feeType,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="`type` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.type != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.type,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="per_amount = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.perAmount != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.perAmount,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="amount = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.amount != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.amount,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="`count` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.count != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.count,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="payment = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.payment != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.payment,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="discount = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.discount != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.discount,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.status != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.status,jdbcType=BOOLEAN}
          </if>
        </foreach>
      </trim>
      <trim prefix="remark = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.remark != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.remark,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="creator = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.creator != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.creator,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createTime != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.createTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="`operator` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.operator != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.operator,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="operate_time = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.operateTime != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.operateTime,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into registration_expense_detail_flow
    (registration_id, register_expense_detail_id, fee_type, `type`, per_amount, amount, 
      `count`, payment, discount, `status`, remark, creator, create_time, `operator`, 
      operate_time)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.registrationId,jdbcType=BIGINT}, #{item.registerExpenseDetailId,jdbcType=BIGINT}, 
        #{item.feeType,jdbcType=INTEGER}, #{item.type,jdbcType=INTEGER}, #{item.perAmount,jdbcType=VARCHAR}, 
        #{item.amount,jdbcType=VARCHAR}, #{item.count,jdbcType=INTEGER}, #{item.payment,jdbcType=INTEGER}, 
        #{item.discount,jdbcType=VARCHAR}, #{item.status,jdbcType=BOOLEAN}, #{item.remark,jdbcType=VARCHAR}, 
        #{item.creator,jdbcType=INTEGER}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.operator,jdbcType=INTEGER}, 
        #{item.operateTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <select id="queryByRegisterId" resultMap="BaseResultMap">
    select * from registration_expense_detail_flow where status = 1 and registration_id = #{registerId}
  </select>
  <select id="feeStatistics" resultType="com.nmt.education.pojo.vo.FeeStatisticsVo">
    select cr.registration_number as registrationNumber , cr.course_id as courseId ,cr.student_id as studentId
    ,c.campus as campus
    , c.name as courseName ,s.name as studentName ,flow.create_time as feeTime,flow.amount as amount ,flow.type as feeFlowType
    from registration_expense_detail_flow flow
    inner join course_registration cr on flow.registration_id = cr.id and cr.status = 1
    inner join course c on cr.course_id = c.id and c.status = 1
    and c.campus in
    <if test="campusList != null and campusList.size() != 0">
      <foreach collection="campusList" item="campus" open="(" close=")" separator=",">
        #{campus}
      </foreach>
    </if>
    <if test="campusList == null or campusList.size() == 0">
      (-1)
    </if>
    inner join student s on cr.student_id = s.id
    where flow.status = 1
    and type in
    <if test="typeList != null and typeList.size() != 0">
      <foreach collection="typeList" item="type" open="(" close=")" separator=",">
        #{type}
      </foreach>
    </if>
    <if test="typeList == null or typeList.size() == 0">
      (-1)
    </if>
    <if test="startDate != null">
      <![CDATA[
            and flow.create_time >= #{startDate}
        ]]>
    </if>
    <if test="endDate != null">
      <![CDATA[
            and flow.create_time <= #{endDate}     ]]>
    </if>
    order by flow.id desc
  </select>
</mapper>