<page-header [title]="pageHeader"></page-header>
<nz-spin [nzSpinning]="loading" [nzSize]="'large'">
    <form nz-form [formGroup]="form" (ngSubmit)="_submitForm()" [nzLayout]="'vertical'">
        <nz-tabset (nzSelectChange)="onSelectedTabChanged($event)">
            <nz-tab nzTitle="学生信息">
                <nz-card [nzBordered]="false">
                    <nz-row nzGutter="16">
                        <nz-col nzLg="6" nzMd="12" nzSm="24">
                            <nz-form-item>
                                <nz-form-label nzFor="name">学生姓名</nz-form-label>
                                <nz-form-control nzErrorTip="请输入学生姓名">
                                    <input nz-input formControlName="name" placeholder="请输入学生姓名" />
                                </nz-form-control>
                            </nz-form-item>
                        </nz-col>
                        <nz-col [nzXl]="{ span: 6, offset: 2 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" nzSm="24">
                            <nz-form-item>
                                <nz-form-label>性别</nz-form-label>
                                <nz-form-control nzErrorTip="请选择性别">
                                    <nz-radio-group formControlName="sex">
                                        <label nz-radio [nzValue]="1">男</label>
                                        <label nz-radio [nzValue]="0">女</label>
                                    </nz-radio-group>
                                </nz-form-control>
                            </nz-form-item>
                        </nz-col>
                        <nz-col [nzXl]="{ span: 6, offset: 2 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" nzSm="24">
                            <nz-form-item>
                                <nz-form-label nzFor="birthday">出生日期</nz-form-label>
                                <nz-form-control nzErrorTip="请输入出生日期">
                                    <nz-date-picker formControlName="birthday"></nz-date-picker>
                                </nz-form-control>
                            </nz-form-item>
                        </nz-col>
                    </nz-row>
                    <nz-row nzGutter="16">
                        <nz-col nzLg="6" nzMd="12" nzSm="24">
                            <nz-form-item>
                                <nz-form-label nzFor="phone">联系方式</nz-form-label>
                                <nz-form-control nzErrorTip="请输入联系方式">
                                    <input nz-input formControlName="phone" placeholder="请输入联系方式" />
                                </nz-form-control>
                            </nz-form-item>
                        </nz-col>
                        <nz-col [nzXl]="{ span: 6, offset: 2 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" nzSm="24">
                            <nz-form-item>
                                <nz-form-label>学校</nz-form-label>
                                <nz-form-control nzErrorTip="请输入学校">
                                    <input nz-input formControlName="school" placeholder="请输入学校" />
                                </nz-form-control>
                            </nz-form-item>
                        </nz-col>
                        <nz-col [nzXl]="{ span: 6, offset: 2 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" nzSm="24">
                            <nz-form-item>
                                <nz-form-label>年级</nz-form-label>
                                <nz-form-control>
                                    <nz-select formControlName="grade" [nzPlaceHolder]="'请选择年级'" [nzShowSearch]="true" [nzAllowClear]="true" >
                                        <nz-option *ngFor="let i of gradeList" [nzLabel]="i.label" [nzValue]="i.value">
                                        </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </nz-col>
                    </nz-row>
                    <nz-row nzGutter="16">
                        <nz-col nzLg="6" nzMd="12" nzSm="24">
                            <nz-form-item>
                                <nz-form-label>所在校区</nz-form-label>
                                <nz-form-control nzErrorTip="请选择校区">
                                    <nz-select formControlName="campus" [nzPlaceHolder]="'请选择校区'" [nzShowSearch]="true" [nzAllowClear]="true" >
                                        <nz-option *ngFor="let i of campusList" [nzLabel]="i.label" [nzValue]="i.value">
                                        </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </nz-col>
                        <nz-col [nzXl]="{ span: 14, offset: 2 }" [nzLg]="{ span: 16 }" [nzMd]="{ span: 18 }" nzSm="24">
                            <nz-form-item>
                                <nz-form-label>备注</nz-form-label>
                                <nz-form-control nzErrorTip="请输入学生备注">
                                    <textarea nz-input formControlName="remark" [nzAutosize]="{ minRows: 4 }"
                                        placeholder="请输入学生备注"></textarea>
                                </nz-form-control>
                            </nz-form-item>
                        </nz-col>
                    </nz-row>
                </nz-card>

                <footer-toolbar errorCollect>
                    <button nz-button type="primary" nzType="primary">提交</button>
                </footer-toolbar>
            </nz-tab>
            <nz-tab nzTitle="报名课程">
                <nz-card [nzBordered]="true">
                    <st #st [columns]="coursesColumns" [data]="courses.list" [total]="courses.total"
                        [ps]="courseQueryParam.pageSize" [pi]="courseQueryParam.pageNo" [page]="pager"
                        [loading]="loading" (change)="courseStChange($event)">
                        <ng-template st-row="registrationStatus" let-i>
                            <!-- <nz-badge [nzStatus]="i.registrationStatusDetail.type" [nzText]="i.registrationStatusDetail.label"></nz-badge> -->
                            <span>{{appCtx.globalService.getOrderStatusLabel(i.registrationStatus)}}</span>
                          </ng-template>
                    </st>
                </nz-card>
            </nz-tab>
            <nz-tab nzTitle="账户流水">
                <nz-card [nzBordered]="true">
                    <st #st [columns]="accountColumns" [data]="account.list" [total]="account.total"
                        [ps]="accountQueryParam.pageSize" [pi]="accountQueryParam.pageNo" [page]="pager"
                        [loading]="loading" (change)="accountStChange($event)">
                        <ng-template st-row="registrationStatus" let-i>
                            <!-- <nz-badge [nzStatus]="i.registrationStatusDetail.type" [nzText]="i.registrationStatusDetail.label"></nz-badge> -->
                            <span>{{appCtx.globalService.getOrderStatusLabel(i.registrationStatus)}}</span>
                          </ng-template>
                    </st>
                </nz-card>
            </nz-tab>
        </nz-tabset>
    </form>
</nz-spin>
