<page-header [title]="pageHeader"></page-header>
<nz-spin [nzSpinning]="loading" [nzSize]="'large'">
  <form nz-form [formGroup]="form" [nzLayout]="'vertical'">
    <nz-tabset (nzSelectChange)="onSelectedTabChanged($event)">
      <nz-tab nzTitle="课程信息">
        <!--      <nz-card [nzBordered]="false" nzTitle="基本信息" [nzExtra]="courseStatusTemplate">-->
        <nz-card [nzBordered]="false" nzTitle="基本信息">
          <nz-row nzGutter="16">
            <nz-col nzLg="5" nzMd="12" nzSm="24">
              <nz-form-item>
                <nz-form-label nzFor="name">课程名称</nz-form-label>
                <nz-form-control nzErrorTip="请输入课程名称">
                  <input nz-input formControlName="name" placeholder="请输入课程名称" />
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzXl]="{ span: 5, offset: 1 }" [nzLg]="{ span: 6}" [nzMd]="{ span: 12 }" nzSm="24">
              <nz-form-item>
                <nz-form-label>课程描述</nz-form-label>
                <nz-form-control>
                  <input nz-input formControlName="description" placeholder="请输入课程描述" />
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzXl]="{ span: 5, offset: 1 }" [nzLg]="{ span: 6 }" [nzMd]="{ span: 12 }" nzSm="24">
              <nz-form-item>
                <nz-form-label>年度</nz-form-label>
                <nz-form-control nzErrorTip="请选择年度">
                  <nz-year-picker formControlName="year" nzPlaceHolder="请选择年度"></nz-year-picker>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzXl]="{ span: 5, offset: 1 }" [nzLg]="{ span: 6 }" [nzMd]="{ span: 12 }" nzSm="24">
              <nz-form-item>
                <nz-form-label nzFor="season">季度</nz-form-label>
                <nz-form-control nzErrorTip="请输入季度">
                  <nz-select formControlName="season" id="season" [nzPlaceHolder]="'请输入季度'" [nzShowSearch]="true"
                    [nzAllowClear]="true">
                    <nz-option *ngFor="let i of seasonList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-row nzGutter="16">
            <nz-col nzLg="5" nzMd="12" nzSm="24">
              <nz-form-item>
                <nz-form-label>针对年级</nz-form-label>
                <nz-form-control nzErrorTip="请选择年级">
                  <nz-select formControlName="grade" [nzPlaceHolder]="'请选择年级'" [nzShowSearch]="true"
                    [nzAllowClear]="true">
                    <nz-option *ngFor="let i of gradeList" [nzLabel]="i.label" [nzValue]="i.value"> </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzXl]="{ span: 5, offset: 1 }" [nzLg]="{ span: 6 }" [nzMd]="{ span: 12 }" nzSm="24">
              <nz-form-item>
                <nz-form-label nzFor="courseSubject">课程科目</nz-form-label>
                <nz-form-control nzErrorTip="请输入课程科目">
                  <nz-select formControlName="courseSubject" [nzPlaceHolder]="'请选择课程科目'" [nzShowSearch]="true"
                    [nzAllowClear]="true">
                    <nz-option *ngFor="let i of courseSubjectList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzXl]="{ span: 5, offset: 1 }" [nzLg]="{ span: 6 }" [nzMd]="{ span: 12 }" nzSm="24">
              <nz-form-item>
                <nz-form-label nzFor="courseType">课程类型</nz-form-label>
                <nz-form-control nzErrorTip="请输入课程类型">
                  <nz-select formControlName="courseType" [nzPlaceHolder]="'请选择课程类型'" [nzShowSearch]="true"
                    [nzAllowClear]="true">
                    <nz-option *ngFor="let i of courseTypeList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzXl]="{ span: 5, offset: 1 }" [nzLg]="{ span: 6 }" [nzMd]="{ span: 24 }" nzSm="24">
              <nz-form-item>
                <nz-form-label>课程归类</nz-form-label>
                <nz-form-control nzErrorTip="请选择课程归类">
                  <nz-select formControlName="courseClassification" [nzPlaceHolder]="'请选择课程归类'" [nzShowSearch]="true"
                    [nzAllowClear]="true">
                    <nz-option *ngFor="let i of courseClassificationList" [nzLabel]="i.label" [nzValue]="i.value">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-row nzGutter="16">
            <nz-col nzLg="5" nzMd="12" nzSm="24">
              <nz-form-item>
                <nz-form-label>开课日期</nz-form-label>
                <nz-form-control>
                  <nz-date-picker [nzDisabled]=true formControlName="startDate" [nzStyle]="{ width: '100%' }">
                  </nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzXl]="{ span: 5, offset: 1 }" [nzLg]="{ span: 6 }" [nzMd]="{ span: 12 }" nzSm="24">
              <nz-form-item>
                <nz-form-label>总课时</nz-form-label>
                <nz-form-control>
                  <nz-input-number [nzDisabled]=true formControlName="times"></nz-input-number>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzXl]="{ span: 5, offset: 1 }" [nzLg]="{ span: 6 }" [nzMd]="{ span: 12 }" nzSm="24">
              <nz-form-item>
                <nz-form-label>单节课时长(分钟)</nz-form-label>
                <nz-form-control nzErrorTip="请输入单节课时长">
                  <nz-input-number [nzDisabled]=true formControlName="perTime" (ngModelChange)="coursePerTimeChanged()">
                  </nz-input-number>
                </nz-form-control>
              </nz-form-item>

            </nz-col>
            <nz-col [nzXl]="{ span: 5, offset: 1 }" [nzLg]="{ span: 6 }" [nzMd]="{ span: 12 }" nzSm="24">
              <nz-form-item>
                <nz-form-label>满班人数</nz-form-label>
                <nz-form-control nzErrorTip="请输入招生数量">
                  <nz-input-number formControlName="totalStudent"></nz-input-number>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </nz-row>
          <nz-row nzGutter="16">
            <nz-col nzLg="5" nzMd="12" nzSm="24">
              <nz-form-item>
                <nz-form-label>任课教师</nz-form-label>
                <nz-form-control nzErrorTip="请选择任课教师">
                  <nz-select formControlName="teacherId" class="enroll-selector" nzShowSearch nzServerSearch
                    nzPlaceHolder="请选择任课教师" [nzShowArrow]="false" [nzFilterOption]="nzFilterOption"
                    [nzDropdownMatchSelectWidth]="false" (nzOnSearch)="searchTeacher($event)"
                    (ngModelChange)="teacherSelected($event)">
                    <nz-option *ngFor="let o of teacherList" nzCustomContent [nzLabel]="o.name" [nzValue]="o.id">
                      <div style="width: 100px; float: left">{{o.name}}</div>
                      <div style="float: left">{{o.school}}</div>
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzXl]="{ span: 5, offset: 1 }" [nzLg]="{ span: 6 }" [nzMd]="{ span: 12 }" nzSm="24">
              <nz-form-item>
                <nz-form-label>所在校区</nz-form-label>
                <nz-form-control nzErrorTip="请选择校区">
                  <nz-select formControlName="campus" [nzPlaceHolder]="'请选择校区'" [nzShowSearch]="true"
                    [nzAllowClear]="true">
                    <nz-option *ngFor="let i of campusList" [nzLabel]="i.label" [nzValue]="i.value"> </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
            <nz-col [nzXl]="{ span: 5, offset: 1 }" [nzLg]="{ span: 6 }" [nzMd]="{ span: 12 }" nzSm="24">
              <nz-form-item>
                <nz-form-label>课程规律</nz-form-label>
                {{form.value.courseRegular||"--"}}
              </nz-form-item>
            </nz-col>
            <nz-col [nzXl]="{ span: 5, offset: 1 }" [nzLg]="{ span: 6 }" [nzMd]="{ span: 12 }" nzSm="24">
              <!-- <nz-form-item>
            <nz-form-label>教室</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="classroom" [nzPlaceHolder]="'请选择教室'" [nzShowSearch]="true" [nzAllowClear]="true" >
                <nz-option *ngFor="let i of classroomList" [nzLabel]="i.label" [nzValue]="i.value"> </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item> -->
            </nz-col>
          </nz-row>
        </nz-card>
        <nz-card [nzBordered]="false" nzTitle="费用列表" [nzExtra]="feeButtonsTemplate">
          <nz-table formArrayName="courseExpenseList" [nzData]="feeList.value" [nzShowPagination]="false">
            <thead>
              <tr>
                <th>费用类型</th>
                <th>价格</th>
                <th *ngIf="editable==true">操作</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of feeList.controls; let i = index">
                <tr *ngIf="feeList.value[i].editFlag!=3" [formGroupName]="i">
                  <td>
                    <span *ngIf="editFeeIndex !== i">{{ appCtx.globalService.getFeeTypeLabel(feeList.value[i].type)
                      }}</span>
                    <nz-form-item *ngIf="editFeeIndex === i">
                      <nz-form-control nzErrorTip="请选费用类型">
                        <nz-select formControlName="type" [nzPlaceHolder]="'请选费用类型'" [nzShowSearch]="true"
                          [nzAllowClear]="true">
                          <nz-option *ngFor="let i of feeTypeList" [nzLabel]="i.label" [nzValue]="i.value"> </nz-option>
                        </nz-select>
                      </nz-form-control>
                    </nz-form-item>
                  </td>
                  <td>
                    <span *ngIf="editFeeIndex !== i">{{ feeList.value[i].price }}</span>
                    <nz-form-item *ngIf="editFeeIndex === i">
                      <nz-form-control nzErrorTip="请输入价格">
                        <nz-input-number formControlName="price" placeholder="请输入价格"></nz-input-number>
                      </nz-form-control>
                    </nz-form-item>
                  </td>
                  <td *ngIf="editable==true">
                    <span *ngIf="editFeeIndex !== i">
                      <a (click)="editFee(i)">编辑</a>
                      <nz-divider nzType="vertical"></nz-divider>
                      <a nz-popconfirm nzPopconfirmTitle="是否要删除此行？" (nzOnConfirm)="delFee(i)">删除</a>
                    </span>
                    <span *ngIf="editFeeIndex === i">
                      <a (click)="saveFee(i)">保存</a>
                      <nz-divider nzType="vertical"></nz-divider>
                      <a nz-popconfirm nzPopconfirmTitle="是否要取消操作？" (nzOnConfirm)="cancelFee(i)">取消</a>
                    </span>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </nz-table>
        </nz-card>
        <nz-card [nzBordered]="false" nzTitle="课时信息" [nzExtra]="sessionButtonsTemplate">
          <nz-table formArrayName="courseScheduleList" [nzData]="sessions.value" [nzShowPagination]="false">
            <thead>
              <tr>
                <th>课时</th>
                <th>教师</th>
                <th>上课时间</th>
                <th>时长(分钟)</th>
                <th *ngIf="canEditSalary">薪资</th>
                <th *ngIf="editable==true">操作</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of sessions.controls; let i = index">
                <tr *ngIf="sessions.value[i].editFlag!=3" [formGroupName]="i">
                  <td>
                    <span>{{ sessions.value[i].courseTimes }}</span>
                  </td>
                  <td>
                    <span *ngIf="editSessionIndex !== i">{{ getTeacherName(sessions.value[i].teacherId) }}</span>
                    <span *ngIf="editSessionIndex === i" nz-form-control nzErrorTip="请选择任课教师">
                      <nz-select formControlName="teacherId" class="enroll-selector" nzShowSearch nzServerSearch
                        nzPlaceHolder="请选择任课教师" [nzShowArrow]="false" [nzFilterOption]="nzFilterOption"
                        [nzDropdownMatchSelectWidth]="false" (nzOnSearch)="searchTeacher($event)"
                        (ngModelChange)="teacherSelected($event)">
                        <nz-option *ngFor="let o of teacherList" nzCustomContent [nzLabel]="o.name" [nzValue]="o.id">
                          <div style="width: 100px; float: left">{{o.name}}</div>
                          <div style="float: left">{{o.school}}</div>
                        </nz-option>
                      </nz-select>
                    </span>
                  </td>
                  <td>
                    <span *ngIf="editSessionIndex !== i">{{ sessions.value[i].courseDatetime|date:"yyyy-MM-dd HH:mm"
                      }}</span>
                    <span *ngIf="editSessionIndex === i" nz-form-control nzErrorTip="请输入上课时间">
                      <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" nzPlaceHolder="Select Time"
                        formControlName="courseDatetime"></nz-date-picker>
                    </span>
                  </td>
                  <td>
                    <span *ngIf="editSessionIndex !== i">{{ sessions.value[i].perTime }}</span>
                    <span *ngIf="editSessionIndex === i" nz-form-control nzErrorTip="请输入时长">
                      <nz-input-number formControlName="perTime" placeholder="请输入时长"></nz-input-number>
                    </span>
                  </td>
                  <td *ngIf="canEditSalary">
                    <span *ngIf="editSessionIndex !== i">{{ sessions.value[i].teacherPrice }}</span>
                    <span *ngIf="editSessionIndex === i" nz-form-control nzErrorTip="请输教师入薪资">
                      <nz-input-number formControlName="teacherPrice" placeholder="请输入教师薪资"></nz-input-number>
                    </span>
                  </td>
                  <td *ngIf="editable==true">
                    <span *ngIf="editSessionIndex !== i">
                      <a *ngIf="isEditCourse" (click)="signIn(i)">签到</a>
                      <nz-divider *ngIf="isEditCourse" nzType="vertical"></nz-divider>
                      <a (click)="edit(i)">编辑</a>
                      <nz-divider nzType="vertical"></nz-divider>
                      <a nz-popconfirm nzPopconfirmTitle="是否要删除此行？" (nzOnConfirm)="del(i)">删除</a>
                    </span>
                    <span *ngIf="editSessionIndex === i">
                      <a (click)="save(i)">保存</a>
                      <nz-divider nzType="vertical"></nz-divider>
                      <a nz-popconfirm nzPopconfirmTitle="是否要取消操作？" (nzOnConfirm)="cancel(i)">取消</a>
                    </span>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </nz-table>
        </nz-card>
        <footer-toolbar errorCollect>
          <button *ngIf="editable==true" nz-button type="primary" nzType="primary" (click)="_submitForm()">提交</button>
        </footer-toolbar>
      </nz-tab>
      <nz-tab nzTitle="报名学员">
        <nz-card [nzBordered]="false">
          <st #st [columns]="columns" [data]="studentList" [loading]="loading">
            <ng-template st-row="sex" let-i>
              {{appCtx.globalService.getGenderLabel(i.sex)}}
            </ng-template>
            <ng-template st-row="grade" let-i>
              {{appCtx.globalService.getGradeLabel(i.grade)}}
            </ng-template>
          </st>
        </nz-card>
      </nz-tab>
      <nz-tab nzTitle="签到记录">
        <nz-card [nzBordered]="false">
          <st #stSign [columns]="signColumns" [scroll]="{ x: 'auto' }" [data]="signReportList" [ps]="15"
            [loading]="signReportLoading">
            <ng-template st-row="signInRender" let-i let-column="column">
              <nz-select class="borderless" [nzCustomTemplate]="signInTemplate" [nzDropdownMatchSelectWidth]="false"
                ngModel="{{i[column.index].signIn}}" [ngModelOptions]="{standalone: true}"
                [nzDisabled]="isSignInDropDownDisabled(i[column.index])"
                (ngModelChange)="quickSignIn($event,i[column.index])">
                <nz-option nzLabel=" 未报名" nzValue="-1" nzHide="true">
                </nz-option>
                <nz-option nzLabel="未签到" nzValue="0"></nz-option>
                <nz-option nzLabel="已签到" nzValue="1"></nz-option>
                <nz-option nzLabel="请假" nzValue="2"></nz-option>
                <nz-option nzLabel="已退费" nzValue="3" nzHide="true"></nz-option>
                <nz-option nzLabel=" 锁定" nzValue="4"></nz-option>
              </nz-select>
            </ng-template>
          </st>
        </nz-card>
      </nz-tab>
    </nz-tabset>

    <ng-template #courseStatusTemplate>
      <nz-form-item *ngIf="isEditCourse" style="padding: 0; margin: 0;">
        <nz-form-control nzErrorTip="请选择课程状态">
          <nz-select formControlName="status" [nzPlaceHolder]="'请选择课程状态'" [nzShowSearch]="true" [nzAllowClear]="true">
            <nz-option *ngFor="let i of courseStatusList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </ng-template>
  </form>
</nz-spin>

<ng-template #modalCreateSession>
  <div class="search__form">
    <nz-form-item>
      <nz-form-label>开始日期</nz-form-label>
      <nz-form-control>
        <nz-date-picker style="width: 100%;" [(ngModel)]="sessionParam.startDate"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>课时数量</nz-form-label>
      <nz-form-control>
        <nz-input-number style="width: 100%;" [(ngModel)]="sessionParam.count" placeholder="请输入课时数量"></nz-input-number>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>上课时间</nz-form-label>
      <nz-form-control>
        <nz-time-picker style="width: 100%;" [(ngModel)]="sessionParam.startTime"></nz-time-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>时长 (分)</nz-form-label>
      <nz-form-control>
        <nz-input-number style="width: 100%;" [(ngModel)]="sessionParam.perTime" placeholder="请输入课时数量">
        </nz-input-number>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>规律</nz-form-label>
      <nz-form-control>
        <nz-checkbox-group [(ngModel)]="sessionParam.dayOfWeek"> </nz-checkbox-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <span *ngIf="sessionParam.teacherId == null" style="color: red;">请先选择任课教师</span>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="canEditSalary">
      <nz-form-label>教师薪资 (元)</nz-form-label>
      <nz-form-control>
        <nz-input-number style="width: 100%;" [(ngModel)]="sessionParam.teacherPrice" placeholder="请输入教师薪资">
        </nz-input-number>
      </nz-form-control>
    </nz-form-item>
  </div>
</ng-template>
<ng-template #sessionButtonsTemplate>
  <button *ngIf="editable==true" style="margin: 0 !important;" [disabled]="editSessionIndex > -1" nz-button
    [nzType]="'primary'" (click)="addSessions(modalCreateSession)" nzBlock class="mt-md">
    <i nz-icon nzType="plus"></i>
    <span>{{sessionParam.title}}</span>
  </button>
</ng-template>
<ng-template #feeButtonsTemplate>
  <button *ngIf="editable==true" style="margin: 0 !important;" [disabled]="editFeeIndex > -1" nz-button
    [nzType]="'primary'" (click)="addFee()" nzBlock class="mt-md">
    <i nz-icon nzType="plus"></i>
    <span>新增费用</span>
  </button>
</ng-template>
<ng-template #signInTemplate let-selected>
  <nz-tag nzColor="{{SIGNIN_TAG[selected.nzValue].color}}">{{selected.nzLabel}}
  </nz-tag>
</ng-template>