<page-header [title]="'费用信息'"></page-header>
<nz-card [nzBordered]="false">
  <form nz-form [nzLayout]="'inline'" (ngSubmit)="startQueryData()" class="search__form">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label>年度</nz-form-label>
          <nz-form-control nzErrorTip="请选择年度">
            <nz-year-picker  [(ngModel)]="year" name="year" nzPlaceHolder="请选择年度" nzAllowClear="false"></nz-year-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24" >
        <nz-form-item>
          <nz-form-label>季度</nz-form-label>
          <nz-form-control nzErrorTip="请选择季度">
            <nz-select [(ngModel)]="queryParam.season" name="season" [nzPlaceHolder]="'请选择季度'" [nzShowSearch]="true">
              <nz-option *ngFor="let i of seasonList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
          <nz-form-item>
            <nz-form-label nzFor="startDate">日期区间</nz-form-label>
            <nz-form-control>
              <nz-range-picker [ngModel]="startDate" name="startDate" (ngModelChange)="onDateRangeChanged($event)">
              </nz-range-picker>
            </nz-form-control>
          </nz-form-item>
      </div>
      <div nz-col nzMd="24" nzSm="24"></div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="campus">所在校区</nz-form-label>
          <nz-form-control nzErrorTip="请选择校区">
            <nz-select [(ngModel)]="queryParam.campus" name="campus" [nzPlaceHolder]="'请选择校区'"
                       [nzShowSearch]="true">
              <nz-option *ngFor="let i of campusList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="feeFlowType">费用类型</nz-form-label>
          <nz-form-control nzErrorTip="请选择费用类型">
            <nz-select [(ngModel)]="queryParam.feeFlowType" name="feeFlowType" [nzPlaceHolder]="'请选择费用类型'"
                       [nzShowSearch]="true">
              <nz-option *ngFor="let i of feeFlowList" [nzLabel]="i.label" [nzValue]="i.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24" class="text-right">
        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">查询</button>
        <button nz-button type="reset" (click)="reset()" class="mx-sm">重置</button>
        <!-- <a (click)="expandForm = !expandForm">
          {{ expandForm ? '收起' : '展开' }}
          <i nz-icon [nzType]="expandForm ? 'up' : 'down'"></i>
        </a> -->
      </div>
    </div>
  </form>
</nz-card>
<nz-card [nzBordered]="false">
  <sv-container  size="large" title="统计信息">
    <sv label="报名人数">{{summaryData.registerStudentCount}}</sv>
    <sv label="总付费">{{summaryData.pay}}</sv>
    <sv label="总退费">{{summaryData.refund}}</sv>
  </sv-container>
  <st #st [columns]="columns" [data]="data.list" [total]="data.total" [ps]="queryParam.pageSize"
      [pi]="queryParam.pageNo" [page]="pager" [loading]="loading" (change)="stChange($event)">
    <ng-template st-row="courseCampus" let-i>
      {{appCtx.globalService.getCampusLabel(i.campus)}}
    </ng-template>
  </st>
</nz-card>
