<page-header [title]="'教师管理'"></page-header>
<nz-card [nzBordered]="false">
  <form nz-form [nzLayout]="'inline'" (ngSubmit)="startQueryData()" class="search__form">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col nzMd="6" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="no">教师姓名</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="queryParam.name" name="name" placeholder="请输入教师姓名" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="6" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="phone">联系方式</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="queryParam.phone" name="phone" placeholder="请输入联系方式" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]=" 6" [class.text-right]="expandForm">
        <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading">查询</button>
        <button nz-button type="reset" (click)="reset()" class="mx-sm">重置</button>
        <!-- <a (click)="expandForm = !expandForm">
          {{ expandForm ? '收起' : '展开' }}
          <i nz-icon [nzType]="expandForm ? 'up' : 'down'"></i>
        </a> -->
      </div>
    </div>
  </form>
  <button nz-button (click)="createTeacher()" [nzType]="'primary'">
    <i nz-icon nzType="plus"></i>
    <span>添加教师</span>
  </button>
  <st #st [columns]="columns" [data]="data.list" [total]="data.total" [ps]="queryParam.pageSize"
    [pi]="queryParam.pageNo" [page]="pager" [loading]="loading" (change)="stChange($event)">
    <ng-template st-row="genderRender" let-i>
      <span>{{globalService.getGenderLabel(i.sex)}}</span>
    </ng-template>
  </st>
</nz-card>